<title>Alperen's application deployed automatically</title>
  <h1>Hello, World This is me ALperen Elbasan 161101003!</h1>
    Result is {{result}}


  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input11" rows="10" cols="30"></textarea>
        <textarea name="input12" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>

