<title>Alperen's application deployed automatically</title>
  <h1>Hello, World This is me Alperen Elbasan 161101003!</h1>
<p style="color:red"> <b>This app takes 4 parameters</b> first one is the arr1 and the second one is the arr2 third is the s and lastly fourth is the e</p>
<p text-align= "center">From <font color="blue">arr[s]</font> to <font color="blue">arr[e]</font> every item is copyPasted from <font color="blue">arr2[0]</font> to  <font color="blue">arr2[e-s+1]</font></p>
    Result is {{result}}


  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input11" rows="10" cols="30"></textarea>
        <textarea name="input12" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="30"></textarea>
        <br>
        <input type="submit" style="color:lightgray">
  </form>

